{% extends 'basic.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <h1 class="my-4">{{ Description }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
            <th>ID</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Creation date" %}</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td>123</td>
            <td>1234 123111</td>
            <td>29.01.2023 17:48</td>
            <td>
              <a href="#">{% trans "Change" %}</a>
              <br>
              <a href="#">{% trans "Delete" %}</a>
            </td>
            </tr>
        </tbody>
    </table>
{% endblock %}